// -------------- THEME SWITCHER -------------- //
/*@mixin dark-appearance {
  .dark-mode {
    --color-background: teal;
    --color-default: aquamarine;
    --color-accent-1: #006060;
    --color-accent-2: violet;
    --color-accent-3: indigo;
  }
}

body[a="dark"] {
  @include dark-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}*/
// -------------------------------------------- //
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap");
// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
:root {
  --color-background: #f5aaf5;
  --color-default: indigo;
  --color-accent-1: mistyrose;
  --color-accent-2: #006666;
  --color-accent-3: aquamarine;
  --color-link: blue;
  --color-visited: darkmagenta;
}
.dark-mode {
  --color-background: #006666;
  --color-default: aquamarine;
  --color-accent-1: #0055aa;
  --color-accent-2: #f5aaf5;
  --color-accent-3: indigo;
  --color-link: lavenderblush;
  --color-visited: paleturquoise;
  img:not([src$=".svg"]) {
    filter: brightness(90%);
  }
}
.btn {
  position: fixed;
  padding: 10px 16px;
  background-color: var(--color-accent-2);
  font-family: monospace;
  color: var(--color-accent-3);
  font-size: 16px;
  cursor: pointer;
  bottom: 0;
  left: 0;
}
/*@media (prefers-color-scheme: dark) {
  img:not([src$=".svg"]) {
    filter: brightness(70%);
  }
}*/
html,
body {
  background: var(--color-background);
}

html {
  height: 100%;
}

body {
  color: var(--color-default);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: "/////";
  }
  &:after {
    content: attr(data-content) "/////";
  }
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid var(--color-default);
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: var(--color-accent-1);
  background: var(--color-default);
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}
a {
  color: var(--color-link);
}
a:visited {
  color: var(--color-visited);
}
blockquote {
  font-style: italic;
  border: thin solid var(--color-accent-2);
  padding: 1rem;

  p {
    margin: 0;
  }
}
.bootes {
  font-family: "Share Tech Mono", monospace;
  color: var(--color-accent-2);
  background-color: var(--color-accent-1);
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
